@charset "UTF-8";
@use "sass:string";

// Import these styles directly in your HTML page
@font-face {
  font-family: "biticons-reader";
  src:  url('biticons-reader.woff2') format('woff2'),
        url('biticons-reader.woff') format('woff'),
        url('biticons-reader.ttf') format('truetype');
}


// Unicode function to preserve formatting
@function unicode($str) {
  @return string.unquote("\"")+string.unquote(string.insert($str, "\\", 1))+string.unquote("\"");
}

// Include this file in your main SCSS file, so that you can extend icon names
%r-icon {
  font-family: "biticons-reader";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  // cursor: default;
  user-select: none;
}

@function icon-char($filename) {
  $char: "";
  
  @if $filename == add-circle-o {
    $char: unicode(E001);
  }
  @if $filename == add-circle {
    $char: unicode(E002);
  }
  @if $filename == annotation {
    $char: unicode(E003);
  }
  @if $filename == annotations {
    $char: unicode(E004);
  }
  @if $filename == arrow-down {
    $char: unicode(E005);
  }
  @if $filename == arrow-left {
    $char: unicode(E006);
  }
  @if $filename == arrow-right {
    $char: unicode(E007);
  }
  @if $filename == arrow-up {
    $char: unicode(E008);
  }
  @if $filename == arrows-crossed {
    $char: unicode(E009);
  }
  @if $filename == back {
    $char: unicode(E00A);
  }
  @if $filename == bell-ring {
    $char: unicode(E00B);
  }
  @if $filename == bell-subscribe {
    $char: unicode(E00C);
  }
  @if $filename == bell-subscribed {
    $char: unicode(E00D);
  }
  @if $filename == bell {
    $char: unicode(E00E);
  }
  @if $filename == bold {
    $char: unicode(E00F);
  }
  @if $filename == book-detail {
    $char: unicode(E010);
  }
  @if $filename == book-open {
    $char: unicode(E011);
  }
  @if $filename == book-shelf {
    $char: unicode(E012);
  }
  @if $filename == book {
    $char: unicode(E013);
  }
  @if $filename == capitol-hd {
    $char: unicode(E014);
  }
  @if $filename == capitol {
    $char: unicode(E015);
  }
  @if $filename == checkbox-selected-outline {
    $char: unicode(E016);
  }
  @if $filename == checkbox-selected {
    $char: unicode(E017);
  }
  @if $filename == checkbox-square {
    $char: unicode(E018);
  }
  @if $filename == checkbox {
    $char: unicode(E019);
  }
  @if $filename == chevron-down-small {
    $char: unicode(E01A);
  }
  @if $filename == chevron-down {
    $char: unicode(E01B);
  }
  @if $filename == chevron-left-small {
    $char: unicode(E01C);
  }
  @if $filename == chevron-left {
    $char: unicode(E01D);
  }
  @if $filename == chevron-right-small {
    $char: unicode(E01E);
  }
  @if $filename == chevron-right {
    $char: unicode(E01F);
  }
  @if $filename == chevron-thin-bottom {
    $char: unicode(E020);
  }
  @if $filename == chevron-thin-left {
    $char: unicode(E021);
  }
  @if $filename == chevron-thin-right {
    $char: unicode(E022);
  }
  @if $filename == chevron-thin-top {
    $char: unicode(E023);
  }
  @if $filename == chevron-up-small {
    $char: unicode(E024);
  }
  @if $filename == chevron-up {
    $char: unicode(E025);
  }
  @if $filename == circle {
    $char: unicode(E026);
  }
  @if $filename == compare {
    $char: unicode(E027);
  }
  @if $filename == contract {
    $char: unicode(E028);
  }
  @if $filename == conversation-i {
    $char: unicode(E029);
  }
  @if $filename == conversation {
    $char: unicode(E02A);
  }
  @if $filename == court-gavel {
    $char: unicode(E02B);
  }
  @if $filename == document-edit-small {
    $char: unicode(E02C);
  }
  @if $filename == document-empty {
    $char: unicode(E02D);
  }
  @if $filename == document {
    $char: unicode(E02E);
  }
  @if $filename == download {
    $char: unicode(E02F);
  }
  @if $filename == edit-document-empty {
    $char: unicode(E030);
  }
  @if $filename == edit-document {
    $char: unicode(E031);
  }
  @if $filename == email {
    $char: unicode(E032);
  }
  @if $filename == exclamation-o {
    $char: unicode(E033);
  }
  @if $filename == exclamation-triangle {
    $char: unicode(E034);
  }
  @if $filename == exclamation {
    $char: unicode(E035);
  }
  @if $filename == expand {
    $char: unicode(E036);
  }
  @if $filename == eye-crossed {
    $char: unicode(E037);
  }
  @if $filename == eye {
    $char: unicode(E038);
  }
  @if $filename == feedback {
    $char: unicode(E039);
  }
  @if $filename == file-html {
    $char: unicode(E03A);
  }
  @if $filename == file-pdf {
    $char: unicode(E03B);
  }
  @if $filename == file-xml {
    $char: unicode(E03C);
  }
  @if $filename == flag-hd {
    $char: unicode(E03D);
  }
  @if $filename == flag {
    $char: unicode(E03E);
  }
  @if $filename == funnel {
    $char: unicode(E03F);
  }
  @if $filename == group {
    $char: unicode(E040);
  }
  @if $filename == hamburger {
    $char: unicode(E041);
  }
  @if $filename == hamburger2 {
    $char: unicode(E042);
  }
  @if $filename == i {
    $char: unicode(E043);
  }
  @if $filename == indicator {
    $char: unicode(E044);
  }
  @if $filename == info-o {
    $char: unicode(E045);
  }
  @if $filename == info {
    $char: unicode(E046);
  }
  @if $filename == italic {
    $char: unicode(E047);
  }
  @if $filename == key {
    $char: unicode(E048);
  }
  @if $filename == link-external {
    $char: unicode(E049);
  }
  @if $filename == link {
    $char: unicode(E04A);
  }
  @if $filename == list-ordered {
    $char: unicode(E04B);
  }
  @if $filename == list-unordered {
    $char: unicode(E04C);
  }
  @if $filename == next-line {
    $char: unicode(E04D);
  }
  @if $filename == ok-o {
    $char: unicode(E04E);
  }
  @if $filename == ok {
    $char: unicode(E04F);
  }
  @if $filename == oll-horizontal {
    $char: unicode(E050);
  }
  @if $filename == oll-long {
    $char: unicode(E051);
  }
  @if $filename == oll-primary {
    $char: unicode(E052);
  }
  @if $filename == oll-square {
    $char: unicode(E053);
  }
  @if $filename == oll {
    $char: unicode(E054);
  }
  @if $filename == padlock-closed {
    $char: unicode(E055);
  }
  @if $filename == padlock-open {
    $char: unicode(E056);
  }
  @if $filename == paragraph {
    $char: unicode(E057);
  }
  @if $filename == pencil {
    $char: unicode(E058);
  }
  @if $filename == print-share {
    $char: unicode(E059);
  }
  @if $filename == print {
    $char: unicode(E05A);
  }
  @if $filename == puzzle {
    $char: unicode(E05B);
  }
  @if $filename == question-o {
    $char: unicode(E05C);
  }
  @if $filename == question {
    $char: unicode(E05D);
  }
  @if $filename == redo {
    $char: unicode(E05E);
  }
  @if $filename == search-not-found-thin {
    $char: unicode(E05F);
  }
  @if $filename == search-not-found {
    $char: unicode(E060);
  }
  @if $filename == search {
    $char: unicode(E061);
  }
  @if $filename == search2 {
    $char: unicode(E062);
  }
  @if $filename == send-email {
    $char: unicode(E063);
  }
  @if $filename == share {
    $char: unicode(E064);
  }
  @if $filename == shield {
    $char: unicode(E065);
  }
  @if $filename == sign-in {
    $char: unicode(E066);
  }
  @if $filename == sign-out {
    $char: unicode(E067);
  }
  @if $filename == spinner {
    $char: unicode(E068);
  }
  @if $filename == strike {
    $char: unicode(E069);
  }
  @if $filename == substract-circle-o {
    $char: unicode(E06A);
  }
  @if $filename == substract-circle {
    $char: unicode(E06B);
  }
  @if $filename == table-regular {
    $char: unicode(E06C);
  }
  @if $filename == table-responsive {
    $char: unicode(E06D);
  }
  @if $filename == table-sticky {
    $char: unicode(E06E);
  }
  @if $filename == time-back {
    $char: unicode(E06F);
  }
  @if $filename == time-forward {
    $char: unicode(E070);
  }
  @if $filename == title-1 {
    $char: unicode(E071);
  }
  @if $filename == title-2 {
    $char: unicode(E072);
  }
  @if $filename == toc {
    $char: unicode(E073);
  }
  @if $filename == tools {
    $char: unicode(E074);
  }
  @if $filename == trash {
    $char: unicode(E075);
  }
  @if $filename == triangle-down {
    $char: unicode(E076);
  }
  @if $filename == triangle-left {
    $char: unicode(E077);
  }
  @if $filename == triangle-right {
    $char: unicode(E078);
  }
  @if $filename == triangle-up {
    $char: unicode(E079);
  }
  @if $filename == undo {
    $char: unicode(E07A);
  }
  @if $filename == upload {
    $char: unicode(E07B);
  }
  @if $filename == user-o-i {
    $char: unicode(E07C);
  }
  @if $filename == user-o {
    $char: unicode(E07D);
  }
  @if $filename == user {
    $char: unicode(E07E);
  }
  @if $filename == x {
    $char: unicode(E07F);
  }
  @return $char;
}

@mixin r-icon($filename, $insert: before) {
  &:#{$insert} {
    @extend %r-icon;
    content: icon-char($filename);
  }
}

// Icon Styles for Reader App
// --------------------------
// These styles will have `.r-icon-` prefix in front of icon name. This enables
// us to keep biticon fonts differentiated for Reader App and Documents.

  .r-icon-add-circle-o {
    @include r-icon(add-circle-o);
  }

  .r-icon-add-circle {
    @include r-icon(add-circle);
  }

  .r-icon-annotation {
    @include r-icon(annotation);
  }

  .r-icon-annotations {
    @include r-icon(annotations);
  }

  .r-icon-arrow-down {
    @include r-icon(arrow-down);
  }

  .r-icon-arrow-left {
    @include r-icon(arrow-left);
  }

  .r-icon-arrow-right {
    @include r-icon(arrow-right);
  }

  .r-icon-arrow-up {
    @include r-icon(arrow-up);
  }

  .r-icon-arrows-crossed {
    @include r-icon(arrows-crossed);
  }

  .r-icon-back {
    @include r-icon(back);
  }

  .r-icon-bell-ring {
    @include r-icon(bell-ring);
  }

  .r-icon-bell-subscribe {
    @include r-icon(bell-subscribe);
  }

  .r-icon-bell-subscribed {
    @include r-icon(bell-subscribed);
  }

  .r-icon-bell {
    @include r-icon(bell);
  }

  .r-icon-bold {
    @include r-icon(bold);
  }

  .r-icon-book-detail {
    @include r-icon(book-detail);
  }

  .r-icon-book-open {
    @include r-icon(book-open);
  }

  .r-icon-book-shelf {
    @include r-icon(book-shelf);
  }

  .r-icon-book {
    @include r-icon(book);
  }

  .r-icon-capitol-hd {
    @include r-icon(capitol-hd);
  }

  .r-icon-capitol {
    @include r-icon(capitol);
  }

  .r-icon-checkbox-selected-outline {
    @include r-icon(checkbox-selected-outline);
  }

  .r-icon-checkbox-selected {
    @include r-icon(checkbox-selected);
  }

  .r-icon-checkbox-square {
    @include r-icon(checkbox-square);
  }

  .r-icon-checkbox {
    @include r-icon(checkbox);
  }

  .r-icon-chevron-down-small {
    @include r-icon(chevron-down-small);
  }

  .r-icon-chevron-down {
    @include r-icon(chevron-down);
  }

  .r-icon-chevron-left-small {
    @include r-icon(chevron-left-small);
  }

  .r-icon-chevron-left {
    @include r-icon(chevron-left);
  }

  .r-icon-chevron-right-small {
    @include r-icon(chevron-right-small);
  }

  .r-icon-chevron-right {
    @include r-icon(chevron-right);
  }

  .r-icon-chevron-thin-bottom {
    @include r-icon(chevron-thin-bottom);
  }

  .r-icon-chevron-thin-left {
    @include r-icon(chevron-thin-left);
  }

  .r-icon-chevron-thin-right {
    @include r-icon(chevron-thin-right);
  }

  .r-icon-chevron-thin-top {
    @include r-icon(chevron-thin-top);
  }

  .r-icon-chevron-up-small {
    @include r-icon(chevron-up-small);
  }

  .r-icon-chevron-up {
    @include r-icon(chevron-up);
  }

  .r-icon-circle {
    @include r-icon(circle);
  }

  .r-icon-compare {
    @include r-icon(compare);
  }

  .r-icon-contract {
    @include r-icon(contract);
  }

  .r-icon-conversation-i {
    @include r-icon(conversation-i);
  }

  .r-icon-conversation {
    @include r-icon(conversation);
  }

  .r-icon-court-gavel {
    @include r-icon(court-gavel);
  }

  .r-icon-document-edit-small {
    @include r-icon(document-edit-small);
  }

  .r-icon-document-empty {
    @include r-icon(document-empty);
  }

  .r-icon-document {
    @include r-icon(document);
  }

  .r-icon-download {
    @include r-icon(download);
  }

  .r-icon-edit-document-empty {
    @include r-icon(edit-document-empty);
  }

  .r-icon-edit-document {
    @include r-icon(edit-document);
  }

  .r-icon-email {
    @include r-icon(email);
  }

  .r-icon-exclamation-o {
    @include r-icon(exclamation-o);
  }

  .r-icon-exclamation-triangle {
    @include r-icon(exclamation-triangle);
  }

  .r-icon-exclamation {
    @include r-icon(exclamation);
  }

  .r-icon-expand {
    @include r-icon(expand);
  }

  .r-icon-eye-crossed {
    @include r-icon(eye-crossed);
  }

  .r-icon-eye {
    @include r-icon(eye);
  }

  .r-icon-feedback {
    @include r-icon(feedback);
  }

  .r-icon-file-html {
    @include r-icon(file-html);
  }

  .r-icon-file-pdf {
    @include r-icon(file-pdf);
  }

  .r-icon-file-xml {
    @include r-icon(file-xml);
  }

  .r-icon-flag-hd {
    @include r-icon(flag-hd);
  }

  .r-icon-flag {
    @include r-icon(flag);
  }

  .r-icon-funnel {
    @include r-icon(funnel);
  }

  .r-icon-group {
    @include r-icon(group);
  }

  .r-icon-hamburger {
    @include r-icon(hamburger);
  }

  .r-icon-hamburger2 {
    @include r-icon(hamburger2);
  }

  .r-icon-i {
    @include r-icon(i);
  }

  .r-icon-indicator {
    @include r-icon(indicator);
  }

  .r-icon-info-o {
    @include r-icon(info-o);
  }

  .r-icon-info {
    @include r-icon(info);
  }

  .r-icon-italic {
    @include r-icon(italic);
  }

  .r-icon-key {
    @include r-icon(key);
  }

  .r-icon-link-external {
    @include r-icon(link-external);
  }

  .r-icon-link {
    @include r-icon(link);
  }

  .r-icon-list-ordered {
    @include r-icon(list-ordered);
  }

  .r-icon-list-unordered {
    @include r-icon(list-unordered);
  }

  .r-icon-next-line {
    @include r-icon(next-line);
  }

  .r-icon-ok-o {
    @include r-icon(ok-o);
  }

  .r-icon-ok {
    @include r-icon(ok);
  }

  .r-icon-oll-horizontal {
    @include r-icon(oll-horizontal);
  }

  .r-icon-oll-long {
    @include r-icon(oll-long);
  }

  .r-icon-oll-primary {
    @include r-icon(oll-primary);
  }

  .r-icon-oll-square {
    @include r-icon(oll-square);
  }

  .r-icon-oll {
    @include r-icon(oll);
  }

  .r-icon-padlock-closed {
    @include r-icon(padlock-closed);
  }

  .r-icon-padlock-open {
    @include r-icon(padlock-open);
  }

  .r-icon-paragraph {
    @include r-icon(paragraph);
  }

  .r-icon-pencil {
    @include r-icon(pencil);
  }

  .r-icon-print-share {
    @include r-icon(print-share);
  }

  .r-icon-print {
    @include r-icon(print);
  }

  .r-icon-puzzle {
    @include r-icon(puzzle);
  }

  .r-icon-question-o {
    @include r-icon(question-o);
  }

  .r-icon-question {
    @include r-icon(question);
  }

  .r-icon-redo {
    @include r-icon(redo);
  }

  .r-icon-search-not-found-thin {
    @include r-icon(search-not-found-thin);
  }

  .r-icon-search-not-found {
    @include r-icon(search-not-found);
  }

  .r-icon-search {
    @include r-icon(search);
  }

  .r-icon-search2 {
    @include r-icon(search2);
  }

  .r-icon-send-email {
    @include r-icon(send-email);
  }

  .r-icon-share {
    @include r-icon(share);
  }

  .r-icon-shield {
    @include r-icon(shield);
  }

  .r-icon-sign-in {
    @include r-icon(sign-in);
  }

  .r-icon-sign-out {
    @include r-icon(sign-out);
  }

  .r-icon-spinner {
    @include r-icon(spinner);
  }

  .r-icon-strike {
    @include r-icon(strike);
  }

  .r-icon-substract-circle-o {
    @include r-icon(substract-circle-o);
  }

  .r-icon-substract-circle {
    @include r-icon(substract-circle);
  }

  .r-icon-table-regular {
    @include r-icon(table-regular);
  }

  .r-icon-table-responsive {
    @include r-icon(table-responsive);
  }

  .r-icon-table-sticky {
    @include r-icon(table-sticky);
  }

  .r-icon-time-back {
    @include r-icon(time-back);
  }

  .r-icon-time-forward {
    @include r-icon(time-forward);
  }

  .r-icon-title-1 {
    @include r-icon(title-1);
  }

  .r-icon-title-2 {
    @include r-icon(title-2);
  }

  .r-icon-toc {
    @include r-icon(toc);
  }

  .r-icon-tools {
    @include r-icon(tools);
  }

  .r-icon-trash {
    @include r-icon(trash);
  }

  .r-icon-triangle-down {
    @include r-icon(triangle-down);
  }

  .r-icon-triangle-left {
    @include r-icon(triangle-left);
  }

  .r-icon-triangle-right {
    @include r-icon(triangle-right);
  }

  .r-icon-triangle-up {
    @include r-icon(triangle-up);
  }

  .r-icon-undo {
    @include r-icon(undo);
  }

  .r-icon-upload {
    @include r-icon(upload);
  }

  .r-icon-user-o-i {
    @include r-icon(user-o-i);
  }

  .r-icon-user-o {
    @include r-icon(user-o);
  }

  .r-icon-user {
    @include r-icon(user);
  }

  .r-icon-x {
    @include r-icon(x);
  }
